In [45]:
from splinter import Browser
from bs4 import BeautifulSoup as bs4
import pandas as pd
import requests
import time

In [7]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news/'

response = requests.get(url)

soup = BeautifulSoup(response.text, 'lxml')

In [4]:
news_Title = soup.find('div', class_='content_title').text

print(news_Title)

Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover

In [5]:
news_Summary = soup.find('div', class_='rollover_description').text 
print(news_Summary)

NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.

In [17]:
featured_img_link = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

browser.visit(featured_img_link)

browser.click_link_by_partial_text('FULL IMAGE')

time.sleep(5)

browser.click_link_by_partial_text('more info')

code_link = browser.html

bs_image = bs4(code_link, 'html.parser')

feat_img_url = bs_image.find('figure', class_='lede').a['href']

featured_img_final = f'https://www.jpl.nasa.gov{feat_img_url}'

print(featured_img_final)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19092_hires.jpg

In [42]:
twitter_link = "https://twitter.com/marswxreport?lang=en"

browser.visit(twitter_link)

time.sleep(5)

twitter_link_code = browser.html


twitter_bs = bs4(twitter_link_code, 'html.parser')

twitter_scrape = []

twitter_scrape = soup.find_all('div', class_="js-tweet-text-container")


for x in twitter_scrape: 
    weather_report = x.find('p').text
    if 'InSight' and 'sol' in weather_report:
        print(mars_weather)
        break
    else: 
        pass

InSight sol 455 (2020-03-08) low -95.4ºC (-139.8ºF) high -13.0ºC (8.5ºF)
winds from the SSE at 6.0 m/s (13.5 mph) gusting to 20.7 m/s (46.2 mph)
pressure at 6.40 hPapic.twitter.com/HrRcPTpSEQ

In [53]:
mars_facts_link = "https://space-facts.com/mars/"

browser.visit(mars_facts_link)

In [56]:
fun_mars_trivia = pd.read_html(mars_facts_link)

fun_mars_trivia[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [55]:
fun_mars_trivia .to_html('table.html')

AttributeError: 'list' object has no attribute 'to_html'